.label-wrapper {
  width: min-content;
  margin: 100px auto;
  padding: 25px;
  position: relative;
}

.label {
  position: absolute;
}

.x-zero {
  bottom:0;
  left:25px;
}

.x-100 {
  bottom: 0;
  right: 25px;
}

.y-zero {
  left: 10px;
  bottom: 20px;
}

.y-100 {
  top: 20px;
  left: -6px;
}

.grid-parent {
  position: relative;
  padding: 2px;
  border: 2px solid greenyellow;
}

.clean-button {
  background: white;
  border: 1px solid red;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 250px;
  height: 250px;
}